.contacts {
  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto 105px;
    display: grid;
    grid-template-columns: 524px 527px;
  }
}

.contacts__title {
  width: 260px;
  margin: 0 auto 28px;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 79px 0 35px;
  }
}

.contacts__address-wrapper {
  position: relative;
  width: 261px;
  margin: 0 auto 62px;
  display: grid;
  grid-template-columns: 72px 183px;
  gap: 30px 6px;

  @media (min-width: @tablet-width) {
    width: 668px;
    grid-template-columns: 78px 256px 78px 256px;
    gap: 0;
    margin-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: -121px;
      right: 3px;
      background-image: url("../img/contacts-flag.svg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 260px;
    grid-template-columns: 72px 235px;
    gap: 30px 6px;
    margin: 0;

    &::after {
      top: -109px;
      left: -111px;
    }
  }
}

.contacts__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }

  &--email {
    text-decoration: none;
  }
}

.contacts__text-border {
  border-bottom: 1px solid @mint-decoration;
  padding-bottom: 2px;

  @media (min-width: @tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;
  }

  &:hover {
    color: @mint-hover;
    border-color: @mint-hover;
  }

  &:active {
    color: @mint-hover;
    border-color: transparent;
  }
}

.contacts__map-wrapper {
  width: 100%;
  height: 454px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 /3;
    margin-bottom: 0;
  }
}

.contacts__button {
  width: 260px;
  margin: 0 auto 39px;
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
