.main-footer {
  background-color: @lightgrey;
  padding: 25px 0 23px;
}

.main-footer__logo {
  display: none;
}

.main-footer__social {
  width: 260px;
  padding-bottom: 28px;
  margin: 0 auto;
  border-bottom: 1px solid @lightgrey-decoration;
}

.main-footer__copyright {
  margin: 22px auto 0;
}
