.main-wrapper__title-image {
  padding: 73px 30px 120px;
  background-color: #fafafa;
  background-image: url("/source/img/main-title-mobile.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;
}
