.page-catalog {
  font-size: 19px;
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  background-color: #63d1bb;
}

.page-catalog__list {
}

.page-catalog__item {
  box-sizing: border-box;
  background-repeat: no-repeat;


  a {
    display: block;
    box-sizing: border-box;
    min-height: 103px;
    padding: 24px 160px 31px 30px;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }

  &--interior {
    background-image: url("/source/img/interior.svg");
    background-position: right 36px center;
  }

  &--toy {
    background-image: url("/source/img/toy.svg");
    background-position: right 27px center;
  }
}
