.product-of-the-week {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    display: grid;
    grid-template-columns: 292px 179px 113px;
    gap: 33px 42px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    grid-template-columns: 132px 307px 195px 287px;
    gap: 33px 43px;
  }
}

.product-of-the-week__primary-title {
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-top: 61px;
    margin-bottom: 2px;
  }
}

.product-of-the-week__secondary-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @mint;
  margin: 0 0 17px;

  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: center;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    justify-self: end;
    align-self: end;
  }
}

.product-of-the-week__text {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    margin-bottom: 27px;
  }
}

.product-of-the-week__properties-wrapper {
  display: grid;
  grid-template-columns: 97px 162px;
  gap: 6px 1px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    margin-bottom: 76px;
  }
}

.product-of-the-week__properties-text {
  line-height: 20px;
  border-bottom: 1px solid @lightgrey-border;
  height: 32px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.product-of-the-week__image-wrapper {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 404px;
    margin-bottom: 0;
    grid-column: 2 / 4;
    grid-row: 2 / 6;
    justify-self: center;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
    margin-bottom: 0;
    grid-column: 3 / 5;
    grid-row: 1 / 6;
    z-index: -1;
  }
}

.product-of-the-week__image {
  width: 100%;
  height: 100%;
}

.product-of-the-week__price {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
  }
}

.product-of-the-week__button {
  width: 260px;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    width: 292px;
    grid-column: 2 / 3;
    margin-bottom: 40px;
  }
}

.product-of-the-week__zigzag-line {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 4;
    margin: 0 0 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}
