.production-process {
  width: 260px;
  margin: 30px auto;
  border: 1px solid @lightgrey-border;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production-process__title {
  font-size: 17px;
  line-height: 24px;
  margin: 22px 13px 27px 91px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -47px;
    width: 32px;
    height: 100%;
    background-image: url("../img/video-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.production-process__video-container {
  position: relative;
  margin-bottom: 35px;

  & img {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 80px;
    width: 101px;
    height: 77px;
    background-image: url("../img/play-button.svg");
  }

  &:hover {
    &::after {
      transform: scale(120%);
    }
  }

  &:active {
    &::after {
      transform: scale(80%);
    }
  }
}

.production-process__text {
  font-size: 13px;
  padding-left: 34px;
  margin-bottom: 41px;
}

.production-process__button {
  width: 192px;
  margin: 0 auto 33px;
  padding-top: 18px;
  font-size: 17px;
  line-height: 16px;
}
