.reviews {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 668px;
    display: grid;
    grid-template-columns: 493px 175px;
    gap: 39px 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -50px;
      background-image: url("../img/review-background.jpg");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 876px;
    grid-template-columns: 701px 175px;
    margin: 0;

    &::before {
      left: -174px;
    }
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
    align-self: end;
  }
}

.reviews__list {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    margin: 0;
  }
}

.reviews__text {
  margin-bottom: 33px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author-contacts {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 493px;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: @black;
}

.reviews__author-nickname {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: -10px;
  }
}

.reviews__toggles {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
  }
}

.reviews__button {
  width: 260px;
  padding-top: 16px;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 79px 0 0;
    align-self: end;
  }
}

.reviews__zigzag-line {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 66px;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    left: -174px;
    margin-top: 114px;
    margin-bottom: 71px;
  }
}
