// viewports
@tablet-width: 768px;
@desktop-width: 1150px;

// colors

@white: #ffffff;
@mint: #63d1bb;
@darkmint: #56c3b2;
@lightgrey: #f1f1f1;
@lightgrey-border: #ececec;
@darkgrey: #444444;
@black: #000000;

